


:root {
    --primary: rgb(231, 106, 36);
    --secundary: rgb(28, 69, 149);
    --txColor: black;
    --error: red;
    font-size: 16px;
}

/* COMEÇO HEADER */


.container {
    width: 80%;
    margin: auto;
    display: flex;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
}

header .container {
    justify-content: space-between;
}

header .container img {
    width: 00px;
}

header a {
    text-decoration: none;
    color: var(--txColor);
    font-family: 'saiyan-sans', Arial, Helvetica, sans-serif;
    letter-spacing: 2.5px;
    font-size: 1.4rem;
}



/* header .container h1 {
    color: var(--primary);
    width: fit-content;
    font-weight: 500;
    font-size: 2.5rem;
} *
/* FIM HEADER */


  /*INTRODUCAO INICIO*/
  

  .intro{

    background-color: #232323;
  }


  section h2 {
    text-align: center;
    font-size: 3.9rem;
}

section.intro .boxesIntro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.boxIntro:nth-child(2) {
    width: 400px;
    text-align: justify;
}

.boxIntro img {
    width: 500px;
}

section.intro {
    margin-bottom: 4%;
}
/* FIM INTRODUCAO*/



